[Desktop Entry]
Name=plasma-currency
Comment=QML based currency converter
Icon=flickr_uploader
 
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/q1Loader.qml
X-Plasma-DefaultSize=300,350
  
X-KDE-PluginInfo-Author=Ilia Ryabokon
X-KDE-PluginInfo-Email=luxa.ryabic@gmail.com
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Name=plasma-currency
X-KDE-PluginInfo-Version=0.0
   
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Type=Service
